.create-post-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.create-post-wrapper {
  margin-bottom: 1.5rem;
}

.create-post-bar {
  display: flex;
  align-items: center;
  border: 2px solid #e5e7eb;
  border-radius: 0.375rem;
}

.create-post-input {
  width: 100%;
  max-width: 700px;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.75rem;
  outline: none;
}
 
.ql-container {
  min-height: 260px;
}

.save-button {
  display: flex;
  align-items: left;
  background-color: #3b82f6;
  color: #e5e7eb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
