*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #222;
  line-height: 1.6;
  font-size: 14px;
}

hr {
  border-color: #d1d5dc;
}
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 25vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(6, 7.5vh);
  }
}

/* === WIDTHS BASED ON COLLAPSED STATE === */
.sidebar.expanded {
  width: 150px;
}

.sidebar.collapsed {
  width: 64px;
}
/* === SIDEBAR BASE === */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 40;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}
/* === MOBILE OVERRIDE (hide full sidebar when collapsed) === */
@media (max-width: 768px) {
  .sidebar.collapsed {
    width: 0;
  }
}

/* Custom styles for headings */
.custom-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
}
.main-wrapper {
  display: flex;
  background-color: #f9fafb;
  color: #111827;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 0 1.75rem 0; */
  background-color: #f9fafb;
}

@media (min-width: 768px) {
  .sidebar-collapsed .main-content {
    padding-left: 4rem;
  }

  .sidebar-expanded .main-content {
    padding-left: 11rem;
  }
}
